<div class="flex flex-col gap-6">
  <app-inbox-header [unreadCount]="unreadCount()" (markAllAsRead)="onMarkAllAsRead()" />
  <app-inbox-filters />

  @if (isLoading()) {
    <div class="flex items-center justify-center p-8 mt-12">
      <lucide-angular [img]="Loader2" class="w-8 h-8 text-primary animate-spin" />
    </div>
  } @else if (error()) {
    <div class="flex flex-col items-center justify-center p-8 mt-12 text-destructive">
      <lucide-angular [img]="AlertCircle" class="w-8 h-8 mb-2" />
      <p>Failed to load notifications. Please try again later.</p>
    </div>
  } @else {
    @if (notifications()!.length > 0) {
      <app-notifications-list
        [notifications]="notifications()"
        (markAsRead)="onMarkAsRead($event)"
      />
    } @else {
      <!-- <app-inbox-empty-state /> -->
      <div class="p-8 text-center text-muted-foreground border rounded-lg border-dashed">
        <p>You have no notifications right now.</p>
      </div>
    }
  }
</div>
